* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 24px;
}
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  width: 100%;
  height: 100vh;
  min-height: 660px;
  background: url(../img/bg.jpg) center center / cover no-repeat;
  position: relative;
  overflow: hidden;
}

.header {
  background: #2b7ded;
  padding: 15px 0;
  margin-bottom: 110px;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-brand {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.header-logo img {
  display: block;
}

.header-nav {
  display: flex;
}
.header-nav-link {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.2s linear;
}
.header-nav-link .active {
  position: relative;
}
.header-nav-link .active ::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -4px;
}

.header-nav-link .active:hover {
  color: #b2e3fd;
}

.content-inner {
  width: 100%;
  max-width: 570px;
}
.subtitle {
  font-size: 21px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}

.title {
  font-size: 30px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 35px;
  line-height: 40px;
}
.title span {
  color: #2b7ded;
}

.description {
  font-size: 15px;
  color: #fff;
  margin-bottom: 50px;
}

.form {
  width: 100%;
  max-width: 280px;
}
.input,
.textarea {
  display: block;
  width: 100%;
  padding: 12px 18px;
  color: #fff;
  font-family: inherit;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  outline: none;
}
.input::placeholder,
.textarea::placeholder {
  color: #fff;
}

.textarea {
  height: 100px;
  resize: none;
}

.btn-full {
  display: block;
  width: 100%;
  outline: none;
}

.btn {
  display: inline-block;
  font-style: 15px;
  border: none;
  color: #fff;
  font-family: inherit;
  text-decoration: none;
  background-color: #2b7ded;
  padding: 10px 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s linear;
}

.btn:hover {
  background-color: #1461cb;
}

.author-photo {
  position: absolute;
  right: 20px;
  bottom: 0;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 45px;
  left: 0;
}

.contacts {
  display: flex;
  align-items: center;
}
.contacts-link {
  margin-right: 30px;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}
.contacts-icon {
  margin-right: 5px;
}

@media (max-width: 991.98px) {
  .author-photo {
    right: -180px;
  }
}

@media (max-width: 767.98px) {
  .page {
    min-height: 100vh;
    height: auto;
  }

  .header {
    margin-bottom: 50px;
  }

  .header-brand {
    font-size: 20px;
  }

  .header-logo {
    display: none;
  }

  .content {
    margin-bottom: 50px;
  }
  .content-inner {
    text-align: center;
    max-width: none;
  }

  .form {
    margin: 0 auto;
  }

  .author-photo {
    display: none;
  }

  .footer {
    position: static;
  }

  .contacts {
    flex-direction: column;
  }

  .contacts-link {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .contacts-link:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 575.98px) {
  .header-inner {
    flex-direction: column;
  }

  .header-brand {
    margin-bottom: 10px;
  }
}

@media (max-width: 330.98px) {
  .subtitle {
    font-size: 18px;
  }
  .title {
    font-size: 25px;
  }
}
